@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.bg-violet-500 {
  background-color: transparent;
}

/* input[data-filled-within="true"] {
  color: black;
} */
.input-white {
  color: white; /* Input text color */
  background-color: transparent; /* Optional: ensures transparent background */
}

.input-white::placeholder {
  color: white; /* Placeholder text color */
}